.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
  
  .models-3d {

    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .register-form {
    position: absolute;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    left: 100px;  
}
.models-3d canvas {
  transform: scale(0.5); 
}
