.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .button-create {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-create:hover {
    background-color: #0056b3;
  }
  
  .button-create:focus {
    outline: none;
  }