
.active {
  color: var(--accent);
}
.unactive {
    transition: 1s;
}
.dropdown-content {
  font-size: 0.8rem;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 4;
    user-select: none;
    transition: top 200ms linear;
    font-family: 'ROSTOV', normal;
    text-transform: capitalize;
  }
  .header_content {
    width: 91.67%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .logo {
    color: var(--goldenbeer);
    text-shadow: -1px 1px 2px rgb(241, 241, 241);
    font-size: 2rem;
    font-family: 'ROSTOV', normal;
    font-weight: 700;
  }
  header nav {
    width: max(13rem, 16%);
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    gap: 20px;
  }
  .nav_link:hover,
  .nav_link:focus {
    color: var(--accent);
  }

  .account {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .account_text {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
  .account:hover .account_text,
  .account:focus .account_text {
    color: var(--accent);
  }
  .account:hover .account_icon svg path,
  .account:focus .account_icon svg path {
    fill: var(--accent);
  }
  .account_text::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all 200ms ease-in-out;
  }
  .account:hover .account_text::before,
  .account:focus .account_text::before {
    width: 100%;
    background: var(--accent);
  }

