.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-title {
    color: var(--goldenbeer);
    letter-spacing: .05em;
    font-size: 1.3rem;
    font-family: 'ROSTOV', normal;
}

.game-descr {
    font-family: 'Exo-2-Medium', normal;
    font-size: 0.9rem;
}
.aspec {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .aspec:hover {
    transform: scale(1.1); 
  }
  
  .aspec img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  